<!DOCTYPE html>
<html>
    <head>
        <title></title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <style>
            body { opacity: 0; transition: opacity 0.5s; }
        </style>
    </head>
    <body>
        <div id="ROOT"></div>
        <script type="text/javascript" src="/static/index.js"></script>
    </body>
</html>
