{
    "presets": ["es2015"],
    "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-object-assign",
        "add-module-exports",
        [
            "transform-async-to-module-method",
            { "module": "bluebird", "method": "coroutine" }
        ]
    ]
}
