body {
    color               : #222
    background          : #eee
    background-image    : linear-gradient(#fffd, #fffd), url(../assets/goodJob.jpg)
    background-position : center center
}

img {
    display    : inline-block
    margin     : 40px
    box-shadow : 0 2px 300px 180px #fff
}
